.icon, .icon-stack {
font-family: "conorcc";
font-size: inherit;
position: relative;
display: inline-block;
line-height: 0.9;
}
.icon-stack .icon {
position: absolute;
top: 0;
left: 0;
}
.icon-lower-snow, .icon-lower-rain {
color: #91d0e5;
}
.icon, .icon-stack {
font-family: "conorcc";
font-size: inherit;
position: relative;
display: inline-block;
line-height: 0.9;
}
i {
font-style: normal;
line-height: inherit;
}
.backgroundcliptext .icon-stack:not(.icon-stack-flat) .icon-cloud-w-lower {
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(15%, #eeeeee), color-stop(100%, #aaaaaa));
background: -webkit-linear-gradient(#f7f7f7,#eeeeee 15%,#aaaaaa);
background: -moz-linear-gradient(#f7f7f7,#eeeeee 15%,#aaaaaa);
background: -o-linear-gradient(#f7f7f7,#eeeeee 15%,#aaaaaa);
background: linear-gradient(#f7f7f7,#eeeeee 15%,#aaaaaa);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
}
.backgroundcliptext .icon-stack:not(.icon-stack-flat) .icon-cloud-w-upper {
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, rgba(255,255,255,0.95)), color-stop(50%, rgba(250,250,250,0.95)), color-stop(100%, #cccccc));
background: -webkit-linear-gradient(rgba(255,255,255,0.95) 40%,rgba(250,250,250,0.95) 50%,#cccccc);
background: -moz-linear-gradient(rgba(255,255,255,0.95) 40%,rgba(250,250,250,0.95) 50%,#cccccc);
background: -o-linear-gradient(rgba(255,255,255,0.95) 40%,rgba(250,250,250,0.95) 50%,#cccccc);
background: linear-gradient(rgba(255,255,255,0.95) 40%,rgba(250,250,250,0.95) 50%,#cccccc);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
}
.icon-stack .icon-stack-base {
position: relative;
}
.icon-stack .icon {
position: absolute;
top: 0;
left: 0;
}
.icon-cloud-w-upper, .icon-cloud-w-lower {
color: #D6E6EC;
}
.icon-lower-snow, .icon-lower-rain {
color: #91d0e5;
}
.icon-lower-lightning, .icon-upper-sun, .icon-sun {
color: #d9b100;
}
.icon-lower-lightning, .icon-upper-sun, .icon-sun {
color: #d9b100;
}
.icon-upper-moon {
color: #afbbbf;
}

p {
line-height: 1.5;
margin: 0 0 18px;
}
.icon-size-32 {
font-size: 32px;
}
.icon-size-64 {
font-size: 64px;
}
.icon-size-96 {
font-size: 96px;
}