body {
	-ms-touch-action: none;
	overflow-x:hidden;
	-webkit-text-size-adjust:none;
}

* {
	-webkit-user-select: none; /* Prevent copy paste for all elements except text fields */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* Set highlight color for user interaction */
	-webkit-touch-callout: none; /* prevent the popup menu on any links*/
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; box-sizing: border-box;
}

/*--
body {
	-webkit-transform: translate3d(100%, 0px, 0px);
	-webkit-animation-name: swipe;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:  1;
}
@-webkit-keyframes swipe {
	from {-webkit-transform: translate3d(100%, 0px, 0px);}
  	to {-webkit-transform: translate3d(0, 0px, 0px);}
}

--*/

/*---for dark module---*/

.news {
	background-color: #090909;
	color: #787878;
	.title-info {
		span {
			color: #8c8c8c!important;
		}
	}
	p {
		color: #787878 !important;
	}
}

/*---font size small ---*/
.news {
	font-size: 14px;
	p {
		font-size: 14px;
	}
	h1 {
		font-size: 18px
	}
	h2 {
		font-size: 16px;
	}
	h3,h4,h5,h6 {
		font-size: 14px;
	}
}

/*---font size middle ---*/
.news {
	font-size: 15px !important;
	p {
		font-size: 15px !important;
	}
	h1 {
		font-size: 19px !important;
	}
	h2 {
		font-size: 17px !important;
	}
	h3,h4,h5,h6 {
		font-size: 15px !important;
	}
}

/*---font size large 
.news {
	font-size: 16px !important;
	p {
		font-size: 16px !important;
	}
	h1 {
		font-size: 20px!important ;
	}
	h2 {
		font-size: 18px !important;
	}
	h3,h4,h5,h6 {
		font-size: 16px !important;
	}
}
---*/



.news {
	padding: 4px 12px;
	.title-info {
  		border-bottom: 1px solid #999;
  		text-indent: 0;
  		span {
			font-size: 12px;
			color: #999;
			padding-right: 4px;
  		}
	}
	h1,h2,h3,h4,h5,h6 {
		font-weight: bold;
		line-height: 1.2em;
	}
	p {
		line-height: 1.5em;
		//white-space:normal !important;
		text-indent: 2em;
		color: #000;
	}

	 img {
			//float: right !important;
			//padding: 0 10px 10px 0 !important;
			max-width: 90% !important;
			//max-height: 300px;
			min-width: 20px !important;
			min-height: 20px!important;
			height: auto!important;
			margin:5px auto !important;
			display: block;
		}
	table {
		width: 96% !important;
		background-color: transparent !important;
		border: 1px solid #dddddd  !important;
		border-collapse: separate !important;
		*border-collapse: collapse;
		border-left: 0 !important;
		border-width: 1px !important;
		margin: 10px auto!important;
		-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		      border-radius: 4px;
			border-spacing: 0;
			//table-layout: fixed;
		th {
			font-weight: bold !important;
			width: auto!important;
		}
		td ,
		th {
			padding: 4px 2px !important;
			line-height: 20px !important;
			text-align: center !important;
			vertical-align: top !important;
			text-indent: 0 !important;
			border-left: 1px solid #dddddd !important;
			border-width: 0 0 0 1px!important;
		}
		td {
			img {
				//width: 100%!important;
				//max-width: 140px!important;
				//min-width: 10px!important;
			}
			width:auto !important;
			word-wrap: break-word; 
			word-break: break-all;
		}
		caption + thead tr:first-child th,
		caption + tbody tr:first-child th,
		caption + tbody tr:first-child td,
		colgroup + thead tr:first-child th,
		colgroup + tbody tr:first-child th,
		colgroup + tbody tr:first-child td,
		thead:first-child tr:first-child th,
		tbody:first-child tr:first-child th,
		tbody:first-child tr:first-child td {
		  border-top: 0 !important;
		}
		tbody + tbody  {
			border-top: 2px solid #dddddd !important;
		}

		thead:first-child tr:first-child th:first-child,
		tbody:first-child tr:first-child td:first-child {
		  -webkit-border-top-left-radius: 4px !important;
		          border-top-left-radius: 4px !important;
		  -moz-border-radius-topleft: 4px !important;
		}
		thead:first-child tr:first-child th:last-child,
		tbody:first-child tr:first-child td:last-child {
		  -webkit-border-top-right-radius: 4px !important;
		          border-top-right-radius: 4px !important;
		  -moz-border-radius-topright: 4px !important;
		}

		thead:last-child tr:last-child th:first-child,
		tbody:last-child tr:last-child td:first-child,
		tfoot:last-child tr:last-child td:first-child {
		  -webkit-border-radius: 0 0 0 4px !important;
		     -moz-border-radius: 0 0 0 4px !important;
		          border-radius: 0 0 0 4px !important;
		  -webkit-border-bottom-left-radius: 4px !important;
		          border-bottom-left-radius: 4px !important;
		  -moz-border-radius-bottomleft: 4px !important;
		}

		thead:last-child tr:last-child th:last-child,
		tbody:last-child tr:last-child td:last-child,
		tfoot:last-child tr:last-child td:last-child {
		  -webkit-border-bottom-right-radius: 4px !important;
		          border-bottom-right-radius: 4px !important;
		  -moz-border-radius-bottomright: 4px !important;
		}

		caption + thead tr:first-child th:first-child,
		caption + tbody tr:first-child td:first-child,
		colgroup + thead tr:first-child th:first-child,
		colgroup + tbody tr:first-child td:first-child {
		  -webkit-border-top-left-radius: 4px !important;
		          border-top-left-radius: 4px !important;
		  -moz-border-radius-topleft: 4px !important;
		}

		caption + thead tr:first-child th:last-child,
		caption + tbody tr:first-child td:last-child,
		colgroup + thead tr:first-child th:last-child,
		colgroup + tbody tr:first-child td:last-child {
		  -webkit-border-top-right-radius: 4px !important;
		          border-top-right-radius: 4px !important;
		  -moz-border-radius-topleft: 4px !important;
		}

		tbody tr:nth-child(odd) td,
		tbody tr:nth-child(odd) th {
		  background-color: #f9f9f9 !important;
		}

		tbody tr:hover td,
		tbody tr:hover th {
		  background-color: #f5f5f5 !important;
		}
		
	}

}