.code-box {
    //width: 90%;/* cc Reset */
    margin: 1em 0;
    padding: 1.2em;
    background-color: #fff;
    overflow-x:auto;
    overflow-y:hidden; 
    a {
        color: #8ec63f !important;
        &:hover {
            color: #dfa054 !important;
        }
    }
    h1 {
        text-align: left !important;
    }
    code {
        background-color: transparent!important;
    }
    .code-box-alertbg {
        p {
          background: #fff6cc url("@{base-url}/2013/06/warning.png") 15px 50% no-repeat;
          border-radius: 6px;
          border: 1px solid #ffd100;
          color: #000;
          padding: 10px 10px 10px 38px;
        }
    }
    .code-box-2 {
        h2, p {
            color: #555;
            font: 13px/20px Arial, 'Helvetica Neue', 'Lucida Grande', sans-serif;
        }
        a {
            color: #8ec63f;
            &:hover  {
                color: #f7941d;
            }
        }
        h2 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 6px;
        }
        .byline {
            color: #8c8c8c;
            font-family: Georgia, Times, 'Times New Roman', serif;
            font-style: italic;
        }
    }
    .code {
        border: 1px solid #ddd;
        background-color: #eef;
    }
    ul.code {
        list-style: none;
        margin-left: 0 !important;
    }
    .text {
        h2, p {
          color: #555;
          font: 13px/20px Arial, 'Helvetica Neue', 'Lucida Grande', sans-serif;
        }
        a {
          color: #8ec63f;
        }
        a:hover {
          color: #f7941d;
        }
        h2 {
          font-size: 22px;
          font-weight: bold;
          letter-spacing: -.9px;
          margin-bottom: 6px;
        }
        h2 a {
          text-shadow: 1px 1px 0 #75a334;
        }
        h2 a:hover {
          text-shadow: 1px 1px 0 #d48019;
        }
        p {
          text-indent: 15px;
        }
        .byline {
          color: #8c8c8c;
          font-family: Georgia, Times, 'Times New Roman', serif;
          font-style: italic;
          text-indent: 0;
        }
        p a {
          font-size: 11px;
          font-weight: bold;
          text-decoration: underline;
          text-transform: uppercase;
        }
    }
}

.post5-demo-1 ,
.post5-demo-2 ,
.post5-demo-3 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 20px;
    color:#fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.post5-demo-1 {
    background: #70bf32;
    //background: url('linear-gradient.png') 0 0 repeat-x;
    background: -webkit-linear-gradient(#a1e048, #6a942f);
    background:    -moz-linear-gradient(#a1e048, #6a942f);
    background:     -ms-linear-gradient(#a1e048, #6a942f);
    background:      -o-linear-gradient(#a1e048, #6a942f);
    background:         linear-gradient(#a1e048, #6a942f);
    
}
.post5-demo-2 {
    background-color: #70bf32;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #a1e048), color-stop(100%, #6a942f));
    background-image: -webkit-radial-gradient(#a1e048,#6a942f);
    background-image: -moz-radial-gradient(#a1e048,#6a942f);
    background-image: -o-radial-gradient(#a1e048,#6a942f);
    background-image: radial-gradient(#a1e048,#6a942f);
}
.post5-demo-3 {
    background-color: #d8ad45;
    background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #8dc63f), color-stop(50%, #d8ad45), color-stop(100%, #3b4b94));
    background-image: -webkit-linear-gradient(to right, #8dc63f,#d8ad45,#3b4b94);
    background-image: -moz-linear-gradient(to right, #8dc63f,#d8ad45,#3b4b94);
    background-image: -o-linear-gradient(to right, #8dc63f,#d8ad45,#3b4b94);
    background-image: linear-gradient(to right, #8dc63f,#d8ad45,#3b4b94);
}

.post5-demo-4 {
  margin-top: 10px;
    ul {
      background: #f4f4f4;
      background: linear-gradient(#fff, #eee);
      border: 1px solid #ccc;
      border-radius: 6px;
      display: inline-block;
      height: 22px;
      list-style: none;
      margin: 0 0 20px 0;
      padding: 0 4px 0 0;
    }
    li {
      height: 16px;
      float: left;
      padding: 3px;
      text-indent: -9999px;
      width: 16px;
    }
    .play {
      background: #f4f4f4;
      background: linear-gradient(#fff, #eee);
      border: 1px solid #ccc;
      border-radius: 30px;
      left: -4px;
      padding: 7px;
      position: relative;
      top: -5px;
    }
    li a {
      background: url("@{base-url}/2013/07/controls.png") 0 0 no-repeat;
      display: block;
      height: 16px;
      width: 16px;
    }
    .play a:hover {
      background-position: 0 -16px;
    }
    .back a {
      background-position: -16px 0;
    }
    .back a:hover {
      background-position: -16px -16px;
    }
    .stop a {
      background-position: -32px 0;
    }
    .stop a:hover {
      background-position: -32px -16px;
    }
    .forward a {
      background-position: -48px 0;
    }
    .forward a:hover {
      background-position: -48px -16px;
    }
}

.post5-demo-5 {
    background: 
                url("@{base-url}/2013/07/dyno.png") no-repeat 380px 18px, 
                url("@{base-url}/2013/07/grass.png") no-repeat 0 100%, 
                url("@{base-url}/2013/07/sky.jpg") no-repeat 0 0;
    border-radius: 6px;
    height: 200px;
    max-width: 660px;
    margin: 20px 0 20px 0;
    text-indent: -9999px;
}
.post5-demo-6 {
    background: url("@{base-url}/2013/07/shay.jpg") 0 0 no-repeat;
    -webkit-background-size: 85% auto;
    -moz-background-size: 85% auto;
    -o-background-size: 85% auto;
    background-size: 85% auto;
    border: 1px dashed #8c9198;
    height: 240px;
    //float: right;
    text-indent: -9999px;
    width: 200px;
}
.post6-list-1 {
    ul {
        *zoom:1;
        &:before ,
        &:after {
            display: table;
            line-height: 0;
            content: "";
        }
        &:after {
              clear: both;
            
        }
        li {
            float: left;
            width: 50%;
            code {
                display: block;
            }
        }
    }
}
.post6-list-2 {
    ul {
        list-style: circle;
    }
}
.post6-list-3 {
  li {
      background: url("@{base-url}/2013/08/tick.png") 0 0 no-repeat;
      list-style: none;
      padding-left: 20px;
    }  
}

.post6-list-4 {
    ul {
        list-style: none;
    }
    li {
      list-style: none;
    }
    li:before {
      content: "\2708";
      margin-right: 6px;
    }
}
.post6-list-5  {
    ul {
        list-style: inside;
        margin: 0 0 20px 0;
    }
}
.post6-list-6 {
    li {
      display: inline;
      margin: 0 10px;
    }
}
.post6-list-7 {
    li {
      float: left;
      margin: 0 20px;
    }
}
.post6-list-8 {
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      float: left;
    }
    a {
      background: #404853;
      background: linear-gradient(#687587, #404853);
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      color: #fff;
      display: block;
      font-size: 11px;
      font-weight: bold;
      padding: 0 20px;
      line-height: 38px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
    }
    a:hover {
      background: #454d59;
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      color: #d0d2d5;
    }
    li:first-child a {
      border-left: none;
      border-radius: 4px 0 0 4px;
    }
    li:last-child a {
      border-right: none;
      border-radius: 0 4px 4px 0;
    }
}