.code-box {
    //width: 90%;/* cc Reset */
    margin: 1em 0;
    padding: 1.2em;
    background-color: #fff;
    overflow-x:auto;
    overflow-y:hidden; 
    a {
        color: #8ec63f !important;
        &:hover {
            color: #dfa054 !important;
        }
    }
    h1 {
        text-align: left !important;
    }
    code {
        background-color: transparent!important;
    }
    .code-box-alertbg {
        p {
          background: #fff6cc url("@{base-url}/2013/06/warning.png") 15px 50% no-repeat;
          border-radius: 6px;
          border: 1px solid #ffd100;
          color: #000;
          padding: 10px 10px 10px 38px;
        }
    }
    .code-box-2 {
        h2, p {
            color: #555;
            font: 13px/20px Arial, 'Helvetica Neue', 'Lucida Grande', sans-serif;
        }
        a {
            color: #8ec63f;
            &:hover  {
                color: #f7941d;
            }
        }
        h2 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 6px;
        }
        .byline {
            color: #8c8c8c;
            font-family: Georgia, Times, 'Times New Roman', serif;
            font-style: italic;
        }
    }
    .code {
        border: 1px solid #ddd;
        background-color: #eef;
    }
    ul.code {
        list-style: none;
        margin-left: 0 !important;
    }
    .text {
        h2, p {
          color: #555;
          font: 13px/20px Arial, 'Helvetica Neue', 'Lucida Grande', sans-serif;
        }
        a {
          color: #8ec63f;
        }
        a:hover {
          color: #f7941d;
        }
        h2 {
          font-size: 22px;
          font-weight: bold;
          letter-spacing: -.9px;
          margin-bottom: 6px;
        }
        h2 a {
          text-shadow: 1px 1px 0 #75a334;
        }
        h2 a:hover {
          text-shadow: 1px 1px 0 #d48019;
        }
        p {
          text-indent: 15px;
        }
        .byline {
          color: #8c8c8c;
          font-family: Georgia, Times, 'Times New Roman', serif;
          font-style: italic;
          text-indent: 0;
        }
        p a {
          font-size: 11px;
          font-weight: bold;
          text-decoration: underline;
          text-transform: uppercase;
        }
    }
}

.post5-demo-1 ,
.post5-demo-2 ,
.post5-demo-3 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 20px;
    color:#fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.post5-demo-1 {
    background: #70bf32;
    //background: url('linear-gradient.png') 0 0 repeat-x;
    background: -webkit-linear-gradient(#a1e048, #6a942f);
    background:    -moz-linear-gradient(#a1e048, #6a942f);
    background:     -ms-linear-gradient(#a1e048, #6a942f);
    background:      -o-linear-gradient(#a1e048, #6a942f);
    background:         linear-gradient(#a1e048, #6a942f);
    
}
.post5-demo-2 {
    background-color: #70bf32;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #a1e048), color-stop(100%, #6a942f));
    background-image: -webkit-radial-gradient(#a1e048,#6a942f);
    background-image: -moz-radial-gradient(#a1e048,#6a942f);
    background-image: -o-radial-gradient(#a1e048,#6a942f);
    background-image: radial-gradient(#a1e048,#6a942f);
}
.post5-demo-3 {
    background-color: #d8ad45;
    background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #8dc63f), color-stop(50%, #d8ad45), color-stop(100%, #3b4b94));
    background-image: -webkit-linear-gradient(to right, #8dc63f,#d8ad45,#3b4b94);
    background-image: -moz-linear-gradient(to right, #8dc63f,#d8ad45,#3b4b94);
    background-image: -o-linear-gradient(to right, #8dc63f,#d8ad45,#3b4b94);
    background-image: linear-gradient(to right, #8dc63f,#d8ad45,#3b4b94);
}

.post5-demo-4 {
  margin-top: 10px;
    ul {
      background: #f4f4f4;
      background: linear-gradient(#fff, #eee);
      border: 1px solid #ccc;
      border-radius: 6px;
      display: inline-block;
      height: 22px;
      list-style: none;
      margin: 0 0 20px 0;
      padding: 0 4px 0 0;
    }
    li {
      height: 16px;
      float: left;
      padding: 3px;
      text-indent: -9999px;
      width: 16px;
    }
    .play {
      background: #f4f4f4;
      background: linear-gradient(#fff, #eee);
      border: 1px solid #ccc;
      border-radius: 30px;
      left: -4px;
      padding: 7px;
      position: relative;
      top: -5px;
    }
    li a {
      background: url("@{base-url}/2013/07/controls.png") 0 0 no-repeat;
      display: block;
      height: 16px;
      width: 16px;
    }
    .play a:hover {
      background-position: 0 -16px;
    }
    .back a {
      background-position: -16px 0;
    }
    .back a:hover {
      background-position: -16px -16px;
    }
    .stop a {
      background-position: -32px 0;
    }
    .stop a:hover {
      background-position: -32px -16px;
    }
    .forward a {
      background-position: -48px 0;
    }
    .forward a:hover {
      background-position: -48px -16px;
    }
}

.post5-demo-5 {
    background: 
                url("@{base-url}/2013/07/dyno.png") no-repeat 380px 18px, 
                url("@{base-url}/2013/07/grass.png") no-repeat 0 100%, 
                url("@{base-url}/2013/07/sky.jpg") no-repeat 0 0;
    border-radius: 6px;
    height: 200px;
    max-width: 660px;
    margin: 20px 0 20px 0;
    text-indent: -9999px;
}
.post5-demo-6 {
    background: url("@{base-url}/2013/07/shay.jpg") 0 0 no-repeat;
    -webkit-background-size: 85% auto;
    -moz-background-size: 85% auto;
    -o-background-size: 85% auto;
    background-size: 85% auto;
    border: 1px dashed #8c9198;
    height: 240px;
    //float: right;
    text-indent: -9999px;
    width: 200px;
}
.post6-list-0 {
    dl dd {
        margin: 0 0 0 20px;
    }
} 
.post6-list-1 {
    ul {
        list-style: square;
        margin: 0;
        *zoom:1;
        &:before ,
        &:after {
            display: table;
            line-height: 0;
            content: "";
        }
        &:after {
              clear: both;
            
        }
        li {
            float: left;
            width: 40%;
            margin: 0 0 20px 30px;
            code {
                display: block;
                color: #8c8c8c;
            }
        }
    }
}
.post6-list-2 {
    ul {
        list-style: circle;
    }
}
.post6-list-3 {
    ul {
        margin-left: 0;
    }
  li {
      background: url("@{base-url}/2013/08/tick.png") 0 0 no-repeat;
      list-style: none;
      padding-left: 20px;
    }  
}

.post6-list-4 {
    ul {
        list-style: none;
        margin-left: 0;
    }
    li {
      list-style: none;
    }
    li:before {
      content: "\2708";
      margin-right: 6px;
    }
}
.post6-list-5  {
    ul {
        list-style: inside;
        margin: 0 0 20px 0;
    }
}
.post6-list-6 {
    ul {
        margin-left: 0;
    }
    li {
      display: inline;
      margin: 0 10px;
    }
}
.post6-list-7 {
    ul {
        margin-left: 0;
    }
    li {
      float: left;
      margin: 0 20px;
    }
}
.post6-list-8 {
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      float: left;
    }
    a {
      background: #404853;
      background: linear-gradient(#687587, #404853);
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      color: #fff!important;
      display: block;
      font-size: 11px;
      font-weight: bold;
      padding: 0 20px;
      line-height: 38px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
    }
    a:hover {
      background: #454d59;
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      color: #d0d2d5 !important;
    }
    li:first-child a {
      border-left: none;
      border-radius: 4px 0 0 4px;
    }
    li:last-child a {
      border-right: none;
      border-radius: 0 4px 4px 0;
    }
}


.post7-img {
  img {
    height: 200px;
    width: 200px;
  }
}
.post7-img-1 {
  img {
    display: block;
  }
}

.post7-img-2 {


  //p {
   // font-style: normal;
    //font-variant: normal;
    //font-weight: normal;
  //}
  img {
    background: #e8eae9;
    border: 1px solid #c6c9cc;
    float: right;
    margin: 8px 0 0 20px;
    padding: 4px;
  }
}

//post 8  building forms

.post-8-input-btn {
  input {
    color: #8ec63f;
    cursor: pointer;
    padding: 4px 12px 2px 12px;
    text-shadow: 0 1px 0 #fff;
    background-color: #eff0f0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e8eae9));
    background-image: -webkit-linear-gradient(#ffffff,#e8eae9);
    background-image: -moz-linear-gradient(#ffffff,#e8eae9);
    background-image: -o-linear-gradient(#ffffff,#e8eae9);
    background-image: linear-gradient(#ffffff,#e8eae9);
    border: 1px solid #d0d2d5;
    border-bottom-color: #c6c9cc;
    font-size: 11px;
    font-weight: bold;
    margin: 0 10px 0 0;
    text-transform: uppercase;
  }
}
.post8-input-border {
  fieldset {
    border: 1px solid #d0d2d5;
    -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff,0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff,0 1px 0 #fff;
    margin: -3px 0 18px 0;
    padding: 9px;
  }
}
.post8-input-disabled {
  background: #e8eae9;
  background: rgba(0,0,0,0.07);
  cursor: not-allowed;
}
.post8-demo {
  form {
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
    background-image: -webkit-linear-gradient(#ffffff,#f8f8f8);
    background-image: -moz-linear-gradient(#ffffff,#f8f8f8);
    background-image: -o-linear-gradient(#ffffff,#f8f8f8);
    background-image: linear-gradient(#ffffff,#f8f8f8);
    border: 1px solid #d0d2d5;
    border-bottom: 1px solid #bebfc2;
    margin: 0 0 20px 0;
    padding: 20px;
    width: 212px;
  }
  label {
    color: #404853;
    display: block;
    font-weight: bold;
  }
  input {
    background: #fff;
    border: 1px solid #c6c9cc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;
    color: #555;
    font: 13px/20px 'Droid Sans', Arial, 'Helvetica Neue', 'Lucida Grande', sans-serif;
    margin: 0 0 20px 0;
    padding: 5px;
    width: 200px;
  }
  fieldset {
    background-color: #dedfe0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebeced), color-stop(100%, #dedfe0));
    background-image: -webkit-linear-gradient(#ebeced,#dedfe0);
    background-image: -moz-linear-gradient(#ebeced,#dedfe0);
    background-image: -o-linear-gradient(#ebeced,#dedfe0);
    background-image: linear-gradient(#ebeced,#dedfe0);
    border: none;
    border-top: 1px solid #d0d2d5;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.75);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.75);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.75);
    margin: 5px 0 -20px -20px;
    padding: 18px 20px;
    width: 212px;
  }
  fieldset input {
    margin: 0;
    width: auto;
  }
  #login_submit {
    background-color: #404853;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #687587), color-stop(100%, #404853));
    background-image: -webkit-linear-gradient(#687587,#404853);
    background-image: -moz-linear-gradient(#687587,#404853);
    background-image: -o-linear-gradient(#687587,#404853);
    background-image: linear-gradient(#687587,#404853);
    border: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.75);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.75);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.75);
    font-size: 13px;
    font-weight: bold;
    float: left;
    padding: 5px 10px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
    text-transform: none;
    color: #fff;
  }
  #login_submit:hover {
    background: linear-gradient(top, #5a6675, #333942);
  }
  #login_submit:active {
    background: #333942;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.75), 0 1px 0 rgba(255, 255, 255, 0.75);
  }
  fieldset label {
    color: #888;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 0 20px;
  }
  fieldset label input {
    margin: -2px 2px 0 0;
    padding: 0;
  }

}

.post9-table {
  table {
    border: 1px solid #c6c9cc;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 0 20px 0;
    max-width: 100%;
  }
  th {
    color: #404853;
  }
  td {
    border-top: 1px solid #c6c9cc;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
}
.post9-table-caption {
  table {
    border-top: 0;
  }
  caption {
    padding: 0 0 8px 0;
  }
}
.post9-table-border {
  div {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  .separate {
    border-collapse: separate;
  }
  .collapse{
    border-collapse: collapse;
  }


}

