<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    <title>{{ page.title }}</title>
    <meta name="author" content="xiaodao" />
    <meta name="description" content="小刀的翻译博客">
    <meta name="keywords" content="HTML5,CSS3,jQ.Mobi,小刀,翻译">
    <link rel="stylesheet" href="http://static.9ikblog.com/cdn/screen.css" type="text/css"/>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">

    <div class="site-main">

        {{ content }}
  
   
        <div  class="aside">

            <ul>
                <li class="aside-social">
                    <a class="aside-social-weibo" href="http://weibo.com/ixiaodao"><span>weibo</span></a>
                    <a class="aside-social-twitter" href="https://twitter.com/xiaodao26"><span>twitter</span></a>  
                </li>
                <li>
                    <a href="/about.html">About learn.hicc.me</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="footer">
        <div class="footer-main">
        
            <ul>
                <li class="footer-sina">
                    <a href="http://weibo.com/ixiaodao" title="由小刀翻译">由小刀翻译</a>
                </li>

                <li class="footer-github">
                    <a href="https://github.com/yijian166" title="Host by Github">Host by Github</a>
                </li>

                <li  class="footer-baidu">
                    <script type="text/javascript">
                    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Feadded3e5730fb5f7310d48877326716' type='text/javascript'%3E%3C/script%3E"));
                    </script>
                </li>

            </ul>
        </div>

    </div>


</div>



</body>
</html>
