---
layout: default
---

<header class="header-title">
    <div class="header-title">
        <h1>
            <a href="/">
                <span class="header-title-big">小刀分享</span>
            </a>
        </h1>
    </div>
</header>

<article class="post-content">
    <div id="post" class="post-content">
    {{ content }}
    </div>
</article>

<script type="text/javascript">
 var TutorialFixed = $(".tutorial-title");
 var Tutorial = $(".tutorial");
 var TutorialOffset = $(".tutorial").offset().top;
$(document).scroll(function(e) {
    if($(this).scrollTop() > TutorialOffset) {
        TutorialFixed.css({
            "position" : "fixed",
             "top" : "0" ,
             "z-index" : "999"
         });
        Tutorial.css({
            "padding-top" : "50px"
         });
    } else {
        TutorialFixed.css({
            "position": "relative" ,
            "z-index" : "999"

        });
        Tutorial.css({
            "padding-top" : "0"
         });
    }
});

</script>

<!-- Duoshuo Comment BEGIN -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"hicclearn"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- Duoshuo Comment END -->