---
layout: dafault
---

<header class="header">
    <div class="header-title">
        <h1>
            <a href="/">
                <span class="header-title-big">小刀分享</span>
            </a>
        </h1>
    </div>
</header>

<article>
    <div id="post" class="post-content">
    {{ content }}
    </div>
</article>

<!-- Duoshuo Comment BEGIN -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"hicclearn"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- Duoshuo Comment END -->